# Stats Exercises

In [3]:
%matplotlib inline
import numpy as np
import pandas as pd

In [188]:
n_trials = nrows = 10_000
n_dice = ncols = 3
# [1, 2, 3, 4, 5, 6]
rolls = np.random.choice(['Mon','Tues','Wed','Thur','Fri'], n_trials * n_dice).reshape(nrows, ncols)
rolls

array([['Fri', 'Wed', 'Tues'],
       ['Thur', 'Tues', 'Wed'],
       ['Mon', 'Mon', 'Wed'],
       ...,
       ['Thur', 'Mon', 'Tues'],
       ['Wed', 'Tues', 'Fri'],
       ['Mon', 'Mon', 'Tues']], dtype='<U4')

In [3]:
sums_by_trial = rolls.sum(axis=1)
sums_by_trial

array([ 6, 11,  5, ..., 10,  9, 15])

In [282]:
# viz.simulation_example1(sums_by_trial)

In [5]:
wins = sums_by_trial > 12
wins

array([False, False, False, ..., False, False,  True])

In [6]:
win_rate = wins.astype(int).mean()
win_rate

0.2627

In [7]:
expected_winnings = win_rate * 15
cost = 5
expected_profit = expected_winnings - cost
expected_profit

-1.0595000000000003

In [8]:
wins = sums_by_trial >= 12
win_rate = wins.astype(int).mean()
expected_winnings = win_rate * 15
cost = 5
expected_profit = expected_winnings - cost
expected_profit

0.6129999999999995

In [9]:
n_trials = nrows = 10_000
n_dice = ncols = 2

rolls = np.random.choice([1, 2, 3, 4, 5, 6], n_trials * n_dice).reshape(nrows, ncols)
rolls

(pd.DataFrame(rolls)
 .apply(lambda row: n_dice == n_dice in row.values, axis=1)
 .mean())

0.3051

## #1 How likely is it that you roll doubles when rolling two dice?

In [10]:
# use lambda to evaluate a condition row-wise
(pd.DataFrame(rolls).apply(lambda row: row[0] == row[1], axis =1)).mean()

0.162

In [7]:
trial = rolls.sum(axis=1)
trial

0         8
1         8
2         6
3         7
4         4
         ..
99995     5
99996     6
99997     8
99998    10
99999     7
Length: 100000, dtype: int64

In [5]:
n_rows = 10_0000
n_cols = 2 
rolls = np.random.choice([1, 2, 3, 4, 5, 6], size=(n_rows, n_cols))
rolls = pd.DataFrame(rolls, columns=["die1", "die2"])
rolls.head()

   die1  die2
0     5     3
1     5     3
2     5     1
3     4     3
4     2     2

In [6]:
(rolls.die1 == rolls.die2).mean()

0.16772

## #2 If you flip 8 coins, what is the probability of getting exactly 3 heads? What is the probability of getting more than 3 heads?

In [33]:
trial_n = nrows = 10_000

coin = ncols = 8

coin_flips = np.random.choice(['Heads','Tails'], trial_n * coin).reshape(nrows, ncols)

# coin_flips = np.random.choice(['Heads','Tails'], coin * trial_n)
n_heads = (coin_flips == 'Heads').sum(axis = 1)
# n_heads
(n_heads == 3).mean() , (n_heads > 3).mean()

(0.2226, 0.628)

In [12]:
n_rows = 10_000
n_cols = 8 # for flipping 8 coins at once
flips = np.random.choice(["Heads", "Tails"], size=(10_000, 8))
flips = pd.DataFrame(flips)

In [16]:
(flips == "Heads").head()

       0      1      2      3      4      5      6      7
0  False   True  False  False   True  False  False  False
1   True   True  False  False  False   True   True   True
2   True   True   True  False  False   True   True   True
3   True  False   True  False  False  False  False   True
4  False   True  False   True   True   True  False  False

In [28]:
flips["n_heads"] = (flips == "Heads").sum(axis=1)
flips.head()

       0      1      2      3      4      5      6      7  n_heads
0  Tails  Heads  Tails  Tails  Heads  Tails  Tails  Tails        2
1  Heads  Heads  Tails  Tails  Tails  Heads  Heads  Heads        5
2  Heads  Heads  Heads  Tails  Tails  Heads  Heads  Heads        6
3  Heads  Tails  Heads  Tails  Tails  Tails  Tails  Heads        3
4  Tails  Heads  Tails  Heads  Heads  Heads  Tails  Tails        4

In [26]:
(flips.n_heads == 3).mean()

0.2197

In [30]:
(flips.n_heads > 3).mean()

0.633

## #3 There are approximitely 3 web development cohorts for every 1 data science cohort at Codeup. Assuming that Codeup randomly selects an alumni to put on a billboard, what are the odds that the two billboards I drive past both have data science students on them?

In [300]:
nrows=10_000
ncols=2
np.random.choice(["Web Development","Data Science"], p =[.75,.25],size=(nrows,ncols))

array([['Data Science', 'Web Development'],
       ['Data Science', 'Web Development'],
       ['Web Development', 'Web Development'],
       ...,
       ['Web Development', 'Web Development'],
       ['Data Science', 'Data Science'],
       ['Web Development', 'Web Development']], dtype='<U15')

In [15]:
billboards = 10**5
cohort = 2
sign = np.random.choice([1,0,0,0], billboards * cohort).reshape(billboards, cohort)
sign = pd.DataFrame(sign)

In [16]:
sign

       0  1
0      1  0
1      0  0
2      0  0
3      0  1
4      0  0
...   .. ..
99995  0  0
99996  1  0
99997  0  0
99998  1  0
99999  0  0

[100000 rows x 2 columns]

In [37]:
board = np.random.choice(["Web Development", "Data Science"], p=[.75, .25], size=(n_rows, n_cols))
board = pd.DataFrame(board)
board["number_of_data_science"] = (board == "Data Science").sum(axis=1)
(board.number_of_data_science == 2).mean()

0.3166

In [17]:
sign.apply((lambda row: row.sum() ==  2 ), axis=1).mean()

0.0602

## #4 Codeup students buy, on average, 3 poptart packages with a standard deviation of 1.5 a day from the snack vending machine. If on monday the machine is restocked with 17 poptart packages, how likely is it that I will be able to buy some poptarts on Friday afternoon? (Remember, if you have mean and standard deviation, use the np.random.normal)

In [39]:
n_rows = 10_000
n_cols = 5 
µ = 3
σ = 1.5
poptarts = np.random.normal(µ, σ, size=(n_rows, n_cols)).round()
poptarts = pd.DataFrame(poptarts, columns=["Monday", "Tuesday", "Wedday", "Thurday", "Friday"])
poptarts.head()

   Monday  Tuesday  Wedday  Thurday  Friday
0     3.0      4.0     2.0      4.0     2.0
1     4.0      2.0     2.0      4.0     1.0
2     6.0      4.0     6.0      0.0    -1.0
3     3.0      3.0     5.0      3.0     4.0
4     4.0      2.0     4.0      2.0     3.0

In [46]:
poptarts["n_consumed"] = poptarts.sum(axis=1)
poptarts.head()

   Monday  Tuesday  Wedday  Thurday  Friday  n_consumed
0     3.0      4.0     2.0      4.0     2.0        15.0
1     4.0      2.0     2.0      4.0     1.0        13.0
2     6.0      4.0     6.0      0.0    -1.0        15.0
3     3.0      3.0     5.0      3.0     4.0        18.0
4     4.0      2.0     4.0      2.0     3.0        15.0

In [47]:
(poptarts.n_consumed < 17).mean()

0.6683

## Exercise 5

In [50]:
m_heights = np.random.normal(178, 8, size=10_000)
f_heights = np.random.normal(170, 6, size=10_000)
#the asumption being men are taller then woman
#here is the average likelyhood of a woman being taller then a man
(f_heights > m_heights).mean()

0.2073

## Exercise 6
When installing anaconda on a student's computer, there's a 1 in 250 chance that the download is corrupted and the installation fails.

    What are the odds that after having 50 students download anaconda, no one has an installation issue?

    100 students?

    What is the probability that we observe an installation issue within the first 150 students that download anaconda?

    How likely is it that 450 students all download anaconda without an issue?

In [53]:
n_rows = 100_000
n_columns = 50
installs = np.random.choice([0, 1], p=[0.004, 0.996], size=(n_rows, n_columns))
(installs.sum(axis=1) == 50).mean()
#the probability of no issues

0.81964

In [56]:
n_columns = 100
installs = np.random.choice([0, 1], p=[0.004, 0.996], size=(n_rows, n_columns))
(installs.sum(axis=1) == 100).mean()
#a smaller run of a 100 people who would get an issue

0.67043

In [58]:
n_columns = 150
installs = np.random.choice([0, 1], p=[0.004, 0.996], size=(n_rows, n_columns))
(installs.sum(axis=1) == 150).mean()

0.55199

In [59]:
n_columns = 450
installs = np.random.choice([0, 1], p=[0.004, 0.996], size=(n_rows, n_columns))
(installs.sum(axis=1) == 450).mean()

0.16542

## Exercise 7 
There's a 70% chance on any given day that there will be at least one food truck at Travis Park. However, you haven't seen a food truck there in 3 days. How unlikely is this? How likely is it that a food truck will show up sometime this week?

In [64]:
n_rows = 10_000
n_cols = 3
trucks = np.random.choice([1, 0], size=(n_rows, n_cols), p=[0.7, 0.3])
(trucks.sum(axis=1) == 0).mean()

0.0277

## Exercise 8
If 23 people are in the same room, what are the odds that two of them share a birthday? What if it's 20 people? 40?

In [70]:
trails = 10_000
people = 23 
birthdays = np.random.choice(range(365), size=(trails, people))
birthdays = pd.DataFrame(birthdays)
birthdays["n_unique"] = birthdays.nunique(axis=1)
(birthdays.n_unique != 23).mean()

0.5046

In [73]:
trails = 10_000
people = 20
birthdays = np.random.choice(range(365), size=(trails, people))
birthdays = pd.DataFrame(birthdays)
birthdays["n_unique"] = birthdays.nunique(axis=1)
(birthdays.n_unique != 20).mean()

0.4082

In [74]:
trails = 10_000
people = 40 
birthdays = np.random.choice(range(365), size=(trails, people))
birthdays = pd.DataFrame(birthdays)
birthdays["n_unique"] = birthdays.nunique(axis=1)
(birthdays.n_unique != 40).mean()

0.8916